<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/login" method="post">
        <input type="text" name="prompt">
        <input type="text" name = "email">
        <input type="text" name="username">
        <input type="text" name="password">
        <button type="submit">Click me</button>
    </form>
    {{data}}
    <div id="chatbot"></div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script>
    var socket = io();
    socket.on('connect', function() {
        socket.emit('my event', {data: 'Do you remember my name'});
    });
    socket.on('message', function(reply) {
        console.log(reply)
        text = document.createElement('p')
        text.innerHTML = reply
        document.getElementById('chatbot').appendChild(text)
    });
</script>
</html>