<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>MediGenie Login</title>
  <link rel="stylesheet" href="../static/styles/style.css" />
</head>
<body>
  <div class="container">
    <div class="right-panel">
      <h1 class="brand"><span class="plus">+</span> MediGenie</h1>
      <h2>Welcome Back</h2>
      <form class="login-form">
        <input type="email" placeholder="Email" required />
        <br/>
        <input type="password" placeholder="Password" required />

        <div >
            <button type="submit">Login</button>
        </div>
      </form>
      <div class="separator">OR</div>
     
      <p class="signup-text">
        Don’t have an account? <a href="#">Sign Up</a>
      </p>
    </div>
  </div>
</body>
</html>
